<a href="https://colab.research.google.com/github/Mashaell22/repot5/blob/main/Data_Cleaning_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from sklearn.metrics import mean_absolute_error

In [6]:
from sklearn.impute import SimpleImputer

In [4]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
from sklearn.model_selection import train_test_split

In [1]:
import pandas as pd
import numpy as np

# Loading the dataset

In [2]:
df=pd.read_csv('Titanic-Dataset.csv')

# Handling Null Values

In [16]:
df = "Titanic-Dataset.csv"
data = pd.read_csv(df)

In [38]:
# Check for null values (1 line)
null_values = data.isnull().sum()
print(null_values)

PassengerId     0
Survived        0
Pclass          0
Name            0
Age            18
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
Sex_female      0
Sex_male        0
dtype: int64

In [18]:
# Fill null values for 'Embarked' with the mode(1 line)

data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [19]:
# Drop rows with null values in 'Cabin' (or alternatively, you can fill it with a placeholder) (1 line)
data.dropna(subset=['Cabin'], inplace=True)

In [29]:
null_values_after = data.isnull().sum()
print(null_values_after)

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            18
SibSp           0
Parch           0
Ticket          0
Fare            0
Cabin           0
Embarked        0
dtype: int64

# Handling Duplicates

In [23]:
# Drop duplicates if any (1 line)
data.drop_duplicates(inplace=True)

In [24]:
# Check for duplicates (1 line)
duplicate_rows = data.duplicated().sum()
print(f'No of rows: {duplicate_rows}')

No of rows: 0

# Handling Outliers

In [40]:
import numpy as np

# Function to remove outliers using the IQR method
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers from 'Fare' using the remove_outilers function (1 line)
df = remove_outliers(data, 'Fare')

print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

# Scaling and Normalization

In [31]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Standard scaling for 'Fare' (2 lines)
scaler = StandardScaler()
data['Fare'] = scaler.fit_transform(data[['Fare']])

In [33]:
# Min-Max scaling for 'Age' (2 lines)
scaler = MinMaxScaler()
data['Age'] = scaler.fit_transform(data[['Age']])

In [34]:
print(data[['Age', 'Fare']].describe())

              Age          Fare
count  168.000000  1.860000e+02
mean     0.448526  4.297638e-17
std      0.200458  1.002699e+00
min      0.000000 -1.532713e+00
25%      0.304502 -8.208058e-01
50%      0.443601 -1.388993e-01
75%      0.595346  5.797208e-01
max      1.000000  2.537336e+00

# Encoding Categorical Variables

In [35]:
# One-hot encoding for 'Embarked' and 'Sex' (1 line)
data = pd.get_dummies(data, columns=['Embarked', 'Sex'])

In [42]:

df = "Titanic-Dataset.csv"
data = pd.read_csv(df)


print(data.columns)


if 'Name' in data.columns:
    names_starting_with_T =data[data['Name'].str.startswith('T')]

    print(names_starting_with_T[['Name']])
else:
    print("The 'Name' column is not found in the data.")

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
                                                  Name
29                                 Todoroff, Mr. Lalio
41   Turpin, Mrs. William John Robert (Dorothy Ann ...
117                    Turpin, Mr. William John Robert
189                                Turcin, Mr. Stjepan
255            Touma, Mrs. Darwis (Hanne Youssef Razi)
256                     Thorne, Mrs. Gertrude Maybelle
262                                  Taussig, Mr. Emil
271                       Tornquist, Mr. William Henry
382                                 Tikkanen, Mr. Juho
399                   Trout, Mrs. William H (Jessie L)
431  Thorneycroft, Mrs. Percival (Florence Kate White)
458                                Toomey, Miss. Ellen
483                             Turkula, Mrs. (Hedwig)
531                                  Toufik, Mr. Nakli
550                        Thayer, Mr. John Borland Jr
558             Taussig, Mrs. Emil (Tillie Mandelbaum)
581  Thayer, Mrs. John Borland (Marian Longstreth M...
585                                Taussig, Miss. Ruth
603                          Torber, Mr. Ernst William
639                         Thorneycroft, Mr. Percival
669  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
677                            Turja, Miss. Anna Sofia
698                           Thayer, Mr. John Borland
712                           Taylor, Mr. Elmer Zebley
717                Troutt, Miss. Edwina Celia "Winnie"
734                       Troupiansky, Mr. Moses Aaron
758                       Theobald, Mr. Thomas Leonard
776                                   Tobin, Mr. Roger
803                    Thomas, Master. Assad Alexander
814                         Tomlin, Mr. Ernest Portage

In [36]:
print(data.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
10           11         1       3
11           12         1       1

                                                 Name       Age  SibSp  Parch  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  0.468892      1      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.430956      1      0
6                             McCarthy, Mr. Timothy J  0.671219      0      0
10                    Sandstrom, Miss. Marguerite Rut  0.038948      1      1
11                           Bonnell, Miss. Elizabeth  0.721801      0      0

      Ticket      Fare Cabin  Embarked_C  Embarked_Q  Embarked_S  Sex_female  \
1   PC 17599  0.357824   C85        True       False       False        True
3     113803 -0.124424  C123       False       False        True        True
6      17463 -0.157244   E46       False       False        True       False
10   PP 9549 -1.089805    G6       False       False        True        True
11    113783 -0.828569  C103       False       False        True        True

    Sex_male
1      False
3      False
6       True
10     False
11     False